@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

progress {
  border-radius: 8px;
  width: 80%;
  height: 12px;
  /* margin-left: -11.5%; */
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
progress::-webkit-progress-bar {
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
}
progress::-webkit-progress-value {
  background-color: rgb(21, 255, 0);
  border-radius: 7px;
  /* box-shadow: 1px 1px 5px 3px rgba(255, 0, 0, 0.8); */
}
progress::-moz-progress-bar {
  /* style rules */
}
